.main {
    min-height: calc(91vh - 65px);
    padding-left: 60px;
    max-width: 100%;
}

.audiochallenge_container {
    background: linear-gradient(335deg, rgb(98, 8, 240) 0%, rgb(135, 28, 241) 35%, rgb(212, 81, 220) 100%);
    height: 70vh;
}

.audiochallenge_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audiochallenge_header {
    display: flex;
    height: 75px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    color: wheat;
}

.close_btn {
    display: block;
    width: 20px;
    height: 20px;
    --weight: 1px;
    --aa: 1px;

    /* anti-aliasing */
    --color: wheat;
    border-radius: 3px;
    background:
        linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
        linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));

    transition: 0.5s;
}

.audiochallenge_game_container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 70vw;
    background: #ffffffde;
    border-radius: 2%;
}

.replay_btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.replay_btn {
    height: 50px;
    width: 50px;
    background-color: #fff9f9;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.replay_btn_container_img {
    height: 40px;
    width: 40px;
}

.words_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
}

.word_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    background-color: #fff;
    border-radius: 10%;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.word_div:hover {
    box-shadow: 0px 0px 10px rgba(#4dc4ef, 0.76);
}

.skip_btn_container {
    display: flex;
    height: 35%;
    justify-content: center;
    align-items: center;
}

.skip_btn {
    height: 60px;
    width: 180px;
    border-radius: 5%;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(rgb(247, 90, 109) 15%, rgb(219, 137, 200) 100%);
}

@media (max-width: 740px) {
    .audiochallenge_game_container {
        height: 60vh;
    }


    .replay_btn_container {
        height: 40%;
    }

    .skip_btn_container {
        height: 15%;
    }

    .words_wrapper {
        height: 45%;
        flex-direction: column;
        align-items: center;
    }

    .word_div {
        width: 165px;
    }
}